header h1 {
    font-weight: normal;
    text-align: center;
    color: #fff;
}

p {
    margin: 0 0 1em 0;
}

ul {
    list-style: none;
    /* -webkit-padding-start: 0px; */
}

ul > li {
    margin-top: 10px;
    margin-bottom: 5px;
}

a {
    color: #fff;
}

a:link, a:visited, a:hover, a:active {
    color: #fff;
    text-decoration: none;
}

a.selected {
    color: #999;
}