header h1 {
    font-weight: normal;
    text-align: center;
    color: #fff;
}

p {
    margin: 0 0 1em 0;
}

ul {
    list-style: none;
    /* -webkit-padding-start: 0px; */
}

.zoo-sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 104px;
    left: 0;
    background-color: #222;
    overflow-x: hidden;
}

a {
    color: #fff;
}

a:link, a:visited, a:hover, a:active {
    color: #fff;
    text-decoration: none;
}

a.selected {
    color: #999;
}