.add-user-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5em auto;
    width: 90%
}

.add-user-form{
    width: 90%;
}

.avatar-section{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 100px;
    padding: 2em 4em;
}

.add-user-btn{
    border: none;
    background: #f84445;
    margin: 2em 0;
    padding: .7em 6.5em;
    color: white;
    font-size: medium;
    border-radius: 3px;
}


.replace-avatar-btn{
    width: 50%;
    border: none;
    background: #f84445;
    margin: 2em 0;
    padding: 1px;
    color: white;
    font-size: small;
    border-radius: 3px;
}

.user-create-avatar{
    display: block;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.title{
    font-size: small;
    color: black;
    opacity: .6;
    margin-bottom: 1em;
}

.delete-title{
    font-size: medium;
    text-decoration: underline;
}

.add-user-title{
    font-size: 1.5em;
    position: relative;
    top: 2em;
    left: 5em;
    display: block;
    font-weight: bold;
}