.image-item{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width : 90%;
    font-size: small;
    box-shadow: .5px .5px 20px 1px rgba(0,0,0,.1);
    padding: 2em 3em;
    line-height: 2.5em;
    letter-spacing: 1px;
    border-radius: 3px;
    margin: 2em auto;
}

.image-type{
    font-size: large;
    font-weight: bold
}

.image-detail{
    font-size:medium;
}
.image-title-card{
    font-weight: bold;
    text-align: left;
    display: block;
    margin-left: 1em;
    font-size: medium;
    color: gray;
}

.image-details{
    line-height: 5px;
}

.image-date{
    color: gray;
    opacity: .5;
}

.image-description{
    font-size: medium;
}