
.lifeco-label { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    background: #F42C3D;
    position: absolute;
    margin: 2em 0 0 8em;
    text-align: center;
    vertical-align: middle;
    font-size: small;
    font-weight: bold;
    color: white;
    text-decoration: none;
}