.App {
  text-align: center;
}

.App-header {
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}


.title{
  color: #f84445;
}

.container{
  right: 0px
}

.visit-drawer-show{
    transform: translateX(0);
    transition: transform .6s ease-in-out;
}

.visit-drawer-hide{
    transform: translateX(100%);
    transition: transform .6s ease-in-out;
}