nav {
    width: 100%;
    line-height: 24px;
}

nav .lc-nav-wrapper {
    padding-left: 1.5em;
}

nav a.lc-brand-logo, nav a.lc-brand-logo:link {
    position: absolute;
    color: #f84445;
    display: inline-block;
    font-weight: bold;
}

nav a.lc-brand-logo {
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
    padding: 0 1.5em;
}

nav .lc-nav-top li {
    list-style: none;
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding:0 1.5em;
    transition: color .3s ease-in-out;
    font-weight: bold;
}

nav .lc-nav-top li a {
    color: #333333;
}

nav .lc-nav-top li a:hover {
    color:#f84445;
}

nav .lc-nav-action-menu {
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
    -webkit-padding-end: 40px;
    cursor: pointer;
}

hr {
    border: 1px solid #dedede;
    width: 100%;
}