#main-modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: 4;
    overflow: hidden;
}

.modal-content {
    margin: 10% auto;
    width: 50%;
    height: 30vw;
    color:black;
    display: grid;
    grid-template-rows: 15% 75%;
    background:white;
    overflow-y: scroll;
}

.modal-title{
    background: #f84445;
    text-align: center;
    padding: 1em;
    color: white;
}