#visit-drawer{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
}

.header{
    min-height: 10%;
    background: #f84445;
}

.header p {
    color: white;
    font-weight: 900;
    padding: 1em;
}

.maintenance-section{
    font-size: medium;
    padding: 2em;
}

.table-element{
    width: 80%;
}