#visit-drawer{
    position: absolute;
    right: 0;
    top: 0;
    width: 30%;
    height: 100%;
    box-shadow: 2px 0 10px 0 black;
    overflow-y: scroll;
    text-align: center;
}

.header{
    min-height: 10%;
    background: #f84445;
}

.header p {
    color: white;
    font-weight: 900;
    padding: 1em;
}

.maintenance-section{
    font-size: medium;
    padding: 2em;
}

.table-element{
    width: 80%;
}