#visit-drawer{
    position: relative;
    width: 90%;
    height: 100%;
    text-align: center;
    padding-top: 1em;
    margin: 1em auto;
    box-shadow: 2px 1px 30px 1px rgba(0,0,0,.1);
    

}

.header{
    min-height: 10%;
    background: #f84445;
}

.header p {
    color: white;
    font-weight: 900;
    padding: 1em;
}

.maintenance-section{
    font-size: medium;
    padding: 2em;
}

.table-element{
    width: 80%;
}

.visit-type-section, .maintenance-type-section{
    width: 70%;
    margin: 1.5em auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.label, .checkbox-value{
    display: inline-block;
    font-size: small;
}
.location-title{
    font-size: small;
    font-weight: bold;
    color: gray;
}

.scheduled-title{
    font-size: small;
    font-weight: bold;
    color: gray;
    position: relative;
    left: 2em;
    text-align: left;
}


.visit_type, .maintenance_type, .doctor_type{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    position: relative;
    left: 1em;
}

.checkbox-title{
    font-size: 15px;
    text-align: left;
    position: relative;
    left:2em;
    margin-top: 2em;
    font-weight: bold;
    color: gray;
}

.doctor-type-section{
    width: 90%;
    margin: 1.5em auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.scheduled-time{
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;
    width: 56vw;
    grid-column-gap: 2em;
}

.scheduled-time-section{
    margin-bottom: 1em;
}

