
.patient-message-count-wrapper {
    color: #8A8A8A;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
}

.patient-message-count-wrapper.hidden {
    display: none;
}

.patient-message-count {
    height: 24px;
    width: 24px;
    background-color: #F74646;
    box-shadow: 0 0 4px 0 #FFBFBF;
    border-radius: 50%;
    font-size: 12px;
    color: #ffffff;
    line-height: 24px;
    text-align: center;
  
.patient-list{
    display: grid;
    width: 80%;
    margin: 2.5em auto;
}

.patient-list .subheader h4{
    font-size: 1.5em;
}

.patient-list .subheader span{
    color: #f84445;
    font-weight: bold;
}

.patient-list .subheader span,
.patient-list .subheader p{
    font-size: 1.1em;
}

.patient-list .subheader .list-title{
    color: #686868;
    font-size: .9em;
}