#test-section{
    position: relative;
    width: 90%;
    height: 100%;
    text-align: center;
    margin: .5em auto;
    box-shadow: 2px 1px 30px 1px rgba(0,0,0,.1);
    border-radius: 3px;
    
}
.priority-type-section{
    width: 70%;
    margin: 1.5em auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.priority_type {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    position: relative;
    left: 1em;
}

.checkbox-title{
    font-size: 15px;
    text-align: left;
    position: relative;
    left:2em;
    margin-top: 2em;
    font-weight: bold;
    color: gray;
}

.inputClass{
    z-index: -1;
    border: none;
    text-align: left;
    position: relative;
    right:20vw;
    border: 2px solid gray;
    padding: 1em;
    margin: 2em;
    cursor: pointer;
}

.test-add-new{
    display: block;
    text-align: left;
    margin-left: 1.5em;
    font-size: medium;
    font-weight: bold;
    color: gray;
    padding: 5px;
}
