.dropdown-label {    
    font-size: small;
    font-weight:bold;
    color: gray;
    display: inline-block;
    text-align: left;
    position: relative;
    width: 90%;
}
.dropdown-value{
    width: 90%;
    display: inline-block;
    text-align: left;
    border:2px solid #dedede;
    border-radius: 3px;
    position: relative;
    right: .2em;
    height: 3.2em;
}

.dropdown-component{
    margin: 2em 0;
}

.custom-dropdown-component{
    border-bottom: 1px solid black;
    width:100%;
}

.custom-dropdown-label{
    color: gray;
    font-size: small;
    position: relative;
    top: 2.5em;
}

.custom-dropdown-value{
    text-align: left;
    position: relative;
    right: 1.2em;
    top: 1em;
}