.data-header{
    display: grid;
    position: relative;
    width: 90%;
    grid-template-columns: 1fr 10px;
    font-weight: bold;
    background: #dedede;
    padding: .5em;
    margin: 1.2em auto;
    left: 0;
}

.data-body{
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-row-gap: 1rem;
    width: 90%;
    margin: 0 auto;
    position: relative;
    left: 1.5em;
}

.top-section{
    display: grid;
    width: 60%;
    grid-template-columns: 1fr 3fr;
}

.bottom-section{
    display: grid;
    width: 100%;
}

.dropdown-label{
    display: none;
}

.top-section-items{
    height: 50px;
}

.data-body-maintenance,
.data-body-immunizations{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-row-gap: 1rem;
    width: 90%;
    margin: 0 auto;
    position: relative;
    left: 1.5em;
}