.patients-list-wrapper{
    max-width: 1000px;
    margin: 5em auto;
}

.patients-row{
    border-bottom: 1px solid #dedede;
    border-top: 1px solid #dedede;
    padding: 2em 0;
    cursor: pointer;
    transition: background .3s ease-in-out;
}

.patients-row:hover{
    background: rgba(0,0,0,.05);
}

.patients-title{
    font-weight: 800;
    color: gray;
    font-size: .8em;
    font-weight: 100;
}
.patients-list-title{
    margin-left: 20px;
}

.chat-count{
    color: #f84445;
}
table {
    margin: 1em auto;
    border-collapse: collapse;
    width: 1000px;
}

td {
    padding: 1em 0 1em 20px;

}

.new-message-alert{
    background: #f84445;
    display: inline-block;
    color: white;
    font-size: small;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition:all .4s ease-in-out;
    margin-right: 1.5em;
    text-align: center;
    box-shadow: 0px 0px 3px #f84445;
}

.new-message-alert:hover{
    box-shadow: 0px 0px 3px #f84445;
}

.message-count,.message-text{
    display: inline-block;
}
.message-text{
    font-size: small;
    color: gray;
    letter-spacing: 1px;
}

.avatar {
    text-align: left;
}

.avatar-img{
    border-radius: 50%;
    width:40px;
    height: 40px;
}

.message-indicator{
    text-align: right;
    padding: 0 20px 0 0;
}
