.top-navigation{
    list-style: none;
    position: relative;
}

.top-navigation li {
    list-style: none;
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding:0 1.5em;
    transition: color .3s ease-in-out;
}

.top-navigation li:hover{
    color: #f84445;
}

.lifeco--home{
    left: 0;
    position: fixed;
    color: #f84445;
    font-weight: bold;
    margin-right: 40%;
}

hr{
    border: 1px solid #dedede;
}