.patient-detail {
    width: 100%;
}

.patient-detail-header {
    height: 110px;
    border-bottom: 0.6px solid #e6e6e6;
    width: 100%;
    padding: 16px 27px;
}

.patient-detail-header-wrapper {
    display: inline-flex;
    flex-direction: column;
    margin-left: 16px;
}

.patient-detail-header-title {
    font-size: 32px;
}

.patient-detail-header-subtitle {
    font-size: 16px
}

.patient-detail-body {
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-template-areas: "chat info";
    height: 100vh;
    width: 100vw;
}

.patient-detail-chat {
    grid-area: chat;
}

.patient-detail-info {
    grid-area: info;
}

.new-container {
    display: flex;
    padding: 60px 48px;
}

.new-container .new-container-button {
    height: 150px;
    width: 150px;
    border: 0.5px solid #9b9b9b;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(228,228,228,0.5);
}