.patient-detail {
    width: 100%;
    display: grid;
    grid-template-columns: 437px 1fr;
    grid-template-rows: 110px 1fr;
    grid-template-areas:
        "header detail"
        "chat detail"
}

.patient-detail-header {
    grid-area: header;
    height: 110px;
    border-bottom: 0.6px solid #e6e6e6;
    width: 100%;
    padding: 16px 27px;
}

.patient-detail-header-wrapper {
    display: inline-flex;
    flex-direction: column;
    margin-left: 16px;
}

.patient-detail-header-title {
    font-size: 32px;
    font-weight: bold;
    text-transform: capitalize;
}

.patient-detail-header-subtitle {
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
}

.patient-detail-body {
    grid-area: detail;
    padding-top: 69px;
    height: 100%;
    width: 100%;
}

.patient-detail-body > .tab-container {
    margin-left: -1px;
}

.patient-detail-chat {
    grid-area: chat;
    border-right: 0.6px solid #e6e6e6;
}

.new-container {
    display: flex;
    align-items: center;
    padding: 60px 10px;
}

.new-container .new-container-button {
    height: 150px;
    width: 150px;
    border: 0.5px solid #9b9b9b;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(228,228,228,0.5);
    font-size: 20px;
    line-height: 25px;
    padding: 0px;
    margin-right: 30px;
}