.treatment-item{
    display: grid;
    grid-template-columns: 100px 1fr 1fr;
    border: 1px solid #d8e7e5;
    padding: 1em;
    width: 90%;
    margin: 1em auto;
    z-index: 5;
}

.treatment-date{
    width: 100px;
    height: 100px;
    border-radius:50%;
    position: relative;
    right: 3.8em;
    transform: scale(.8);
    border: 1px solid #d8e7e5;
    background: white;
    z-index: 4;
}

.treatment-date p {
    background: #67B2A6;
    position: relative;
    top: 8px;
    border-radius:50%;
    text-align: center;
    color: white; 
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

.treatment-date p span {
    position: relative;
    top: .8em;
    display: block;
    width: 50%;
    margin: 0 auto;

}

.treatment-details{
    font-size:medium;
}

.treatment-detail{
    font-size:medium;
    color: rgba(0,0,0,.3);
}

.treatment-type{
    font-size: large;
    font-weight: bold
}

.treatment-description{
    font-size: medium;
}


