.admin-title{
    position: relative;
    left: 0;
    font-size: 1.5em;
    font-weight: bold;
}

.red {
    color: red;
}

.admin-dosespot-dialog-wrapper {
    width: 1000px;
    height: 584px;
}

.admin-dosespot-iframe {
    border: none;
    width: 100%;
    display: block;
    height: 100%;
}

.admin-sidebar {
    width: 268px;
    overflow: visible;
    position: fixed;
    background: #fff;
    height: calc(100% - 70px);  
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);  
}

.admin-sidebar-nav {
    padding: 8px 0px;
}

.admin-sidebar-nav-item {
    border: 10px;
    box-sizing: border-box;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    outline: none;
    font-size: 16px;
    position: relative;
    z-index: 1;
    line-height: 16px;
    transition: all 40ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    background: none;
}

.admin-content {
    background-color: #ffffff;
    min-height: 100vh;
    padding-left: 283px;
    padding-right: 15px;
}

.item-icon-alert:after {
    content: attr(data-count);
    position: absolute;
    background: #f44336;
    height: 1rem;
    top: 0.85rem;
    right: 6rem;
    width: 1rem;
    text-align: center;
    line-height: 1rem;
    font-size: 0.65rem;
    border-radius: 2px;
    color: white;
    border: 1px solid #f44336;
}

.dosespot-list-item:after {
    content: attr(data-count);
    position: absolute;
    background: #f44336;
    height: 1rem;
    top: 0.85rem;
    right: 6rem;
    width: 1rem;
    text-align: center;
    line-height: 1rem;
    font-size: 0.65rem;
    border-radius: 2px;
    color: white;
    border: 1px solid #f44336;
}