@import './fonts/index.css';

* {
  box-sizing: border-box;
}

body {
  font: 1.2em/1.3em 'Apercu', 'Roboto Light', 'Roboto', 'Segoe UI Web Light', 'Segoe UI Light', 'Segoe UI Web Regular', 'Segoe UI', Helvetica, Arial, sans-serif; 
  color: #000;
  margin: 0;
}

input, textarea, select, a, button { outline: none; }

a {
  text-decoration: none;
}

.app main {
  margin-top: 67px;
}

.content-body {
  margin-top: 67px;
}

.content-container {
  margin-bottom: 100px;
}

.content-container .alert {
  margin-top: -2px; 
}

.content-wrapper {
  padding-left: 124px;
  padding-top: 27px;
  padding-right: 110px;
  background-color: #ffffff;
}

.content-container-action-bar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "left right";
  margin: 0 auto; 
}

.content-container-action-bar .action-left {
  grid-area: left;
}

.content-container-action-bar .action-right {
  grid-area: right;
}

.content-container-action-bar .action-button {
  background: #f84445;
  padding: .5em 2em;
  border-radius: 3px;
  cursor: pointer;
  color: #ffffff;
}

.inline-title {
  grid-area: left;
  position: relative;
  margin-left: 61px;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
}

.inline-title-actions {
  grid-area: right;
  justify-self: end;
  padding-right: 8em;
}

.inline-title-action-button {
  background: #f84445;
  padding: .5em 2em;
  border-radius: 3px;
  cursor: pointer;
}

.list-table {
  font-size: medium;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 14px;
  width: 100%;
}

.list-table thead {
  color: gray;
  font-weight: bold;
}

.list-table thead tr {
  height: 44px;
}

.list-table tbody {
  font-weight: medium;
}

.list-table tbody tr {
  border-bottom: 1px solid #dedede;
  width: 100%;
  height: 68px;
}

.list-table-hover-row {
  cursor: pointer;
}

.list-table-hover-row:hover {
  background-color: lightgray;
}

.list-table td {
  padding: 10px 0 10px 0;
}

.table-column-icon {
  width: 123px;
  text-align: center;
}

.right {
  float: right;
}

.right-text {
  text-align: right;
}

.alert {
  height: 48px;
  border-radius: 2px;
  padding: .75rem 1.25rem;
  font-size: 14px;
}

.alert-success {
  background-color: #6CB2A5;
  color: white;
}

.alert-danger {
  background-color: #f5c6cb;
  color: white;
}

.alert-warning {
  background-color: #ffeeba;
  color: white;
}

.help-text {
  position: relative;
  font-size: 12px;
  line-height: 12px;
  color: #d8e7e5;
  width: 353px;
}

.hidden {
  visibility: hidden;
}