* {
  box-sizing: border-box;
}

body {
  /* margin: 1em; */
  font: 1.2em/1.3em 'Roboto-Light', 'Roboto Light', 'Roboto', 'Segoe UI Web Light', 'Segoe UI Light', 'Segoe UI Web Regular', 'Segoe UI', Helvetica, Arial, sans-serif; 
  color: #000;
  margin: 0;
}